body {
    background-color: #DDFFDD;
    font-family: "Arial", sans-serif;
    font-size: 17px;
}

hr {
    width: 100%;
}

input {
    float: right;
    margin-bottom: 0px;
}

p {
    float: right;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

input[name = phone] [name = firstName] [name = lastName] {
    width: 10em;
}

#footer {
    font-size: 14px;
}

#input\ area {
    width: 14em;
    margin-left: 0;
}

#submit\ button {
    margin-left: 11em;
    margin-bottom: 0.5em;
}
