<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8">
        <title>Harjutustund 1</title>
        <link href="../css/styles.css" rel="stylesheet">
    </head>
    <body>
        <a id= "list-page-link" href="?command=show_list_page">Nimekiri</a>&nbsp;&nbsp;|&nbsp;
        <a id="add-page-link" href="?command=show_add_page">Lisa</a>
    <hr />
    <table border="1" width="800px">
        <thead>
            <tr>
                    <td><b>Eesnimi</b></td>
                <td><b>Perekonnanimi</b></td>
                <td><b>Telefonid</b></td>
            </tr>
        </thead>
        <tbody>
        <ul class="list-group" tpl-foreach="$contacts as $contact">
            <tr>
                <td>{{$contact->name}}</td>
                <td>{{$contact->surname}}</td>
                <td>{{$contact->phones}}</td>
            </tr>
        </ul>
        </tbody>
    </table>
    <hr /><br />
    <div id="footer">
        ICD0007 näidisrakendus.
    </div>
    </body>
</html>
